/* ************************zoning_titi***************************** */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* **********************Zoning01**************************** */

body{
    background: pink;
}

#zoning1{
    width: 50%;
    height: 800px;
    margin: 0 auto;
}

#zoning1 header{
    background: yellowgreen;
    height: 100px;
    text-align: center;
}
#zoning1 aside{
    width: 20%;
    height: 600px;
    background: olive;
    float: left;
    text-align: center;
}
#zoning1 section{
    background: orchid;
    width: 80%;
    height: 600px;
    float: left;
    text-align: center;
}
.clear{
    clear: both;
}

 #zoning1 footer{
    background: purple;
    height: 100px;
    width: 100%;
    text-align: center;
}


/* *************************Zoning 02********************************* */

#zoning2{
    background: palegoldenrod;
    margin: 0 auto;
    width: 1000px;
}

#zoning2 header{
    background: olivedrab;
    height: 100px;
    text-align: center;
}

#zoning2 aside{
    background: brown;
    width:200px;
    height: 800px;
    float: left;
}

#zoning2 section{
    background: lightpink;
    width: 600px;;
    height: 800px;
    float: left;
}

.clear{
    clear: both;
}

#zoning2 footer{
    background: darkorange;
    height: 100px;
}

/* ****************************************Zoning 3*********************************************** */
#wrapper{
    background: palegoldenrod;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#wrapper section{
    background: olivedrab;
    width: 496px;
    height: 800px;
    float: left;
    border: 2px solid black;
}

#wrapper footer{
    background: peru;
    height: 100px;
}

.clear{
    clear: both;
}

/* *************************************Zoning 4************************************** */

#zoning4{
    background: palegoldenrod;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#zoning4 header{
    background: peru;
    height: 100px;
}

#zoning4 nav{
    background: lightgreen;
    height: 100px;
}

#zoning4 section{
    background: plum;
    height: 500px;
    width: 800px;
}

#zoning4 footer{
    background: purple;
    height: 100px;
}